<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <if condition='property("LOG_FORMAT").contains("JSON")'>
      <then>
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
          <providers>
            <message/>
            <mdc/>
            <logstashMarkers/>
            <pattern>
              <pattern>
                {
                "timestamp": "%date{ISO8601}",
                "level": "%level",
                "class": "%replace(%logger.%M){'\.\?+|\$*\.\$.+\$+\d*|\$',''}",
                "thread": "%thread",
                "application": "${APPLICATION_TAG}"
                }
              </pattern>
            </pattern>
            <arguments/>
            <stackTrace>
              <throwableConverter class="net.logstash.logback.stacktrace.ShortenedThrowableConverter">
                <maxDepthPerThrowable>30</maxDepthPerThrowable>
                <maxLength>2048</maxLength>
                <shortenedClassNameLength>20</shortenedClassNameLength>
                <rootCauseFirst>true</rootCauseFirst>
              </throwableConverter>
            </stackTrace>
          </providers>
        </encoder>
      </then>
      <else>
        <encoder>
          <pattern>%date %highlight(%-5level) %logger{36}:%line - %msg%n</pattern>
        </encoder>
      </else>
    </if>
  </appender>

  <logger name="akka" level="WARN"/>
  <logger name="slick" level="WARN"/>
  <logger name="org" level="WARN"/>
  <logger name="com" level="WARN"/>
  <logger name="it.ldsoftware.webfleet.driver" level="INFO"/>

  <root level="${LOG_LEVEL:-INFO}">
    <appender-ref ref="STDOUT"/>
  </root>
</configuration>
